# Lesson 2 Exercise 2: Creating Denormalized Tables

<img src="images/postgresSQLlogo.png" width="250" height="250">

## Walk through the basics of modeling data from normalized from to denormalized form. We will create tables in PostgreSQL, insert rows of data, and do simple JOIN SQL queries to show how these multiple tables can work together. 

#### Where you see ##### you will need to fill in code. This exercise will be more challenging than the last. Use the information provided to create the tables and write the insert statements.

#### Remember the examples shown are simple, but imagine these situations at scale with large datasets, many users, and the need for quick response time. 

Note: __Do not__ click the blue Preview button in the lower task bar

### Import the library 
Note: An error might popup after this command has exectuted. If it does read it careful before ignoring.

In [1]:
import psycopg2

### Create a connection to the database, get a cursor, and set autocommit to true

In [2]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e: 
    print(f"Error: Could not make connection to the Postgres database\n{e}")
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print(f"Error: Could not get curser to the Database\n{e}")
conn.set_session(autocommit=True)

#### Let's start with our normalized (3NF) database set of tables we had in the last exercise, but we have added a new table `sales`. 

`Table Name: transactions2 
column 0: transaction Id
column 1: Customer Name
column 2: Cashier Id
column 3: Year `

`Table Name: albums_sold
column 0: Album Id
column 1: Transaction Id
column 3: Album Name` 

`Table Name: employees
column 0: Employee Id
column 1: Employee Name `

`Table Name: sales
column 0: Transaction Id
column 1: Amount Spent
`
<img src="images/table16.png" width="450" height="450"> <img src="images/table15.png" width="450" height="450"> <img src="images/table17.png" width="350" height="350"> <img src="images/table18.png" width="350" height="350">

### TO-DO: Add all Create statements for all Tables and Insert data into the tables

In [14]:
# TO-DO: Add all Create statements for all tables
tables = {
    "transactions": "id INTEGER, customer TEXT, cashier_id INTEGER, year INTEGER",
    "albumns": "id INTEGER, transaction_id INTEGER, albumn TEXT",
    "employees": "id INTEGER, name TEXT",
    "sales": "transaction_id INTEGER, amount INTEGER",
}
for name, columns in tables.items():
    try: 
        cur.execute(f"CREATE TABLE IF NOT EXISTS {name} ({columns});")
    except psycopg2.Error as e: 
        print(f"Error: Issue creating table\n{e}")

        
# TO-DO: Insert data into the tables    
data = {
    "INSERT INTO transactions (id, customer, cashier_id, year) VALUES (%s, %s, %s, %s)": [
        (1, "Amanda", 1, 2000),
        (2, "Toby", 1, 2000),
        (3, "Max", 2, 2018),

    ],
    "INSERT INTO albumns (id, transaction_id, albumn) VALUES (%s, %s, %s)": [
        (1, 1, "Rubber Soul"),
        (2, 1, "Let it Be"),
        (3, 2, "My Generation"),
        (4, 3, "Meet the Beatles"),
        (5, 3, "Help!"),
    ],
    "INSERT INTO employees (id, name) VALUES (%s, %s)": [
        (1, "Sam"),
        (2, "Bob"),
    ],
    "INSERT INTO sales (transaction_id, amount) VALUES (%s, %s)": [
        (1, 40),
        (2, 19),
        (3, 45)
    ]
}
for query, values in data.items():
    for row in values:
        try: 
            cur.execute(query, row)
        except psycopg2.Error as e: 
            print(f"Error: Inserting Rows \n{e}")

#### TO-DO: Confirm using the Select statement the data were added correctly

In [15]:
for table in ["transactions", "albumns", "employees", "sales"]:
    print(f"\nTable: {table}")
    try: 
        cur.execute(f"SELECT * FROM {table};")
    except psycopg2.Error as e: 
        print(f"Error: select *:\n{e}")

    row = cur.fetchone()
    while row:
        print(row)
        row = cur.fetchone()

Table: transactions
(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Table: albumns
(1, 1, 'Rubber Soul')
(2, 1, 'Let it Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Table: employees
(1, 'Sam')
(2, 'Bob')

Table: sales
(1, 40)
(2, 19)
(3, 45)

### Let's say you need to do a query that gives:

`transaction_id
 customer_name
 cashier name
 year 
 albums sold
 amount sold` 

### TO-DO: Complete the statement below to perform a 3 way `JOIN` on the 4 tables you have created.

In [16]:
try: 
    cur.execute("""
        SELECT * FROM transactions t
        JOIN albumns a ON t.id = a.transaction_id
        JOIN employees e ON t.cashier_id = e.id
        JOIN sales s ON t.id = s.transaction_id
    """)
except psycopg2.Error as e: 
    print(f"Error: select *:\n{e}")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Amanda', 1, 2000, 1, 1, 'Rubber Soul', 1, 'Sam', 1, 40)
(1, 'Amanda', 1, 2000, 2, 1, 'Let it Be', 1, 'Sam', 1, 40)
(2, 'Toby', 1, 2000, 3, 2, 'My Generation', 1, 'Sam', 2, 19)
(3, 'Max', 2, 2018, 4, 3, 'Meet the Beatles', 2, 'Bob', 3, 45)
(3, 'Max', 2, 2018, 5, 3, 'Help!', 2, 'Bob', 3, 45)

#### Great we were able to get the data we wanted.

### But, we had to perform a 3 way `JOIN` to get there. While it's great we had that flexibility, we need to remember that `JOINS` are slow and if we have a read heavy workload that required low latency queries we want to reduce the number of `JOINS`.  Let's think about denormalizing our normalized tables.

### With denormalization you want to think about the queries you are running and how to reduce the number of JOINS even if that means duplicating data. The following are the queries you need to run.

#### Query 1 : `select transaction_id, customer_name, amount_spent FROM <min number of tables>` 
It should generate the amount spent on each transaction 
#### Query 2: `select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name` 
It should generate the total sales by cashier

###  Query 1: `select transaction_id, customer_name, amount_spent FROM <min number of tables>`

One way to do this would be to do a JOIN on the `sales` and `transactions2` table but we want to minimize the use of `JOINS`.  

To reduce the number of tables, first add `amount_spent` to the `transactions` table so that you will not need to do a JOIN at all. 

`Table Name: transactions 
column 0: transaction Id
column 1: Customer Name
column 2: Cashier Id
column 3: Year
column 4: amount_spent`

<img src="images/table19.png" width="450" height="450">

### TO-DO: Add the tables as part of the denormalization process

In [17]:
for name in ["transactions", "albumns", "employees", "sales"]:
    cur.execute(f"DROP TABLE {name}")

In [18]:
# TO-DO: Create all tables
tables = {
    "transactions": "id INTEGER, customer TEXT, cashier_id INTEGER, year INTEGER, amount INTEGER",
}
for name, columns in tables.items():
    try: 
        cur.execute(f"CREATE TABLE IF NOT EXISTS {name} ({columns});")
    except psycopg2.Error as e: 
        print(f"Error: Issue creating table\n{e}")



#Insert data into all tables 
data = {
    "INSERT INTO transactions (id, customer, cashier_id, year, amount) VALUES (%s, %s, %s, %s, %s)": [
        (1, "Amanda", 1, 2000, 40),
        (2, "Toby", 1, 2000, 19),
        (3, "Max", 2, 2018, 45),

    ],
}
for query, values in data.items():
    for row in values:
        try: 
            cur.execute(query, row)
        except psycopg2.Error as e: 
            print(f"Error: Inserting Rows \n{e}")

### Now you should be able to do a simplifed query to get the information you need. No  `JOIN` is needed.

In [19]:
try: 
    cur.execute("select id, customer, amount FROM transactions")
        
except psycopg2.Error as e: 
    print(f"Error: select *:\n{e}")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Amanda', 40)
(2, 'Toby', 19)
(3, 'Max', 45)

#### Your output for the above cell should be the following:
(1, 'Amanda', 40)<br>
(2, 'Toby', 19)<br>
(3, 'Max', 45)

### Query 2: `select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name` 

To avoid using any `JOINS`, first create a new table with just the information we need. 

`Table Name: cashier_sales
col: Transaction Id
Col: Cashier Name
Col: Cashier Id
col: Amount_Spent
`

<img src="images/table20.png" width="350" height="350">

### TO-DO: Create a new table with just the information you need.

In [21]:
cur.execute(f"DROP TABLE transactions")

In [22]:
# Create the tables
tables = {
    "transactions": "id INTEGER, cashier_name TEXT, cashier_id INTEGER, amount INTEGER",
}
for name, columns in tables.items():
    try: 
        cur.execute(f"CREATE TABLE IF NOT EXISTS {name} ({columns});")
    except psycopg2.Error as e: 
        print(f"Error: Issue creating table\n{e}")


#Insert into all tables 
#Insert data into all tables 
data = {
    "INSERT INTO transactions (id, cashier_name, cashier_id, amount) VALUES (%s, %s, %s, %s)": [
        (1, "Sam", 1, 40),
        (2, "Sam", 1, 19),
        (3, "Bob", 2, 45),

    ],
}
for query, values in data.items():
    for row in values:
        try: 
            cur.execute(query, row)
        except psycopg2.Error as e: 
            print(f"Error: Inserting Rows \n{e}")

### Run the query

In [23]:
try: 
    cur.execute("SELECT cashier_name, SUM(amount) FROM transactions GROUP BY cashier_name")
        
except psycopg2.Error as e: 
    print(f"Error: select *:\n{e}")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('Sam', 59)
('Bob', 45)

#### Your output for the above cell should be the following:
('Sam', 59)<br>
('Max', 45)

#### We have successfully taken normalized table and denormalized them inorder to speed up our performance and allow for simplier queries to be executed.

### Drop the tables

In [24]:
cur.execute(f"DROP TABLE transactions")

### And finally close your cursor and connection.

In [25]:
cur.close()
conn.close()